@font-face {
	font-family: 'Tourney';
	src:
		local('Tourney'),
		url('/assets/fonts/Tourney-VariableFont_wdth\,wght.ttf') format('truetype');
		font-style: normal;
}

@font-face {
	font-family: 'Tourney';
	src:
		local('Tourney'),
		url('/assets/fonts/Tourney-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
		font-style: italic;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Tourney', sans-serif;
}

body {
	background-color: hsl(0, 0%, 90%);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {
	padding: 2em 1em;
	background-color: hsl(210, 90%, 40%);
}

nav .title {
	margin-left: 15%;
}

nav .title h2 {
	font-size: 1em;
	margin: 1em 0 0 3em;
}

.page {
	flex-grow: 1;
	background-color: hsl(0, 0%, 60%);
}

.game {
	padding: 4em 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-header {
	margin-bottom: 1.5em;
	text-align: center;
}

.game-board {
	margin: 2em 0;
}

.circle {
	width: 2em;
	aspect-ratio: 1 / 1;
	background-color: hsl(0, 0%, 90%);
	border-radius: 50%;
	box-shadow: 0 0 .8em hsla(0, 0%, 20%, .5);
}

.circle.red {
	background-color: hsl(0, 100%, 50%);
}

.circle.orange {
	background-color: hsl(30, 100%, 50%);
}

.circle.yellow {
	background-color: hsl(60, 100%, 50%);
}

.circle.green {
	background-color: hsl(120, 100%, 38%);
}

.circle.lightblue {
	background-color: hsl(180, 90%, 40%);
}

.circle.blue {
	background-color: hsl(240, 100%, 50%);
}

.circle.violet {
	background-color: hsl(270, 80%, 60%);
}

.circle.black {
	background-color: black;
}

.color-select {
	width: fit-content;
	position: absolute;
	top: -1000px;
	left: -1000px;
	z-index: 1;
	transform: translate(-50%, -50%);
}

.color-select > div {
	width: fit-content;
	font-size: 1.2em;
	border-radius: .5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	--popup-bg-color: white;
	background-color: var(--popup-bg-color);
	--margin: .4em;
	padding: var(--margin);
	gap: var(--margin);
	position: relative;
}

.color-select .popup-arrow {
	position: absolute;
	top: calc((var(--margin) * -1) + .2em);
	left: 50%;
	width: 1.2em;
	transform: translate(-50%, -50%) scaleY(.5);
}

.color-select .popup-arrow svg {
	fill: var(--popup-bg-color);
}

.color-select button {
	border: 0;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: .6em 0;
}

.row button {
	font-size: 2.2em;
	padding: .1em .3em;
	border: none;
	background-color: transparent;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
}

.row button.send-btn {
	color: hsl(210, 90%, 40%);
	transition: all 0.4s;
}

.row button.clear-btn {
	color: hsl(0, 85%, 40%);
}

.row button.send-btn.wiggle {
	animation: wiggle .4s forwards;
}

.row button.send-btn.wiggle > div {
	transition: all 0.1s;
	transform: rotate(var(--rotate, 0deg));
}

@keyframes wiggle {
	0% {
		transform: translateX(0em) scale(1);
		--rotate: 0deg;
	}

	25% {
		transform: translateX(-.05em) scale(1.05);
		--rotate: -5deg;
	}

	50% {
		transform: translateX(.05em) scale(1.05);
		--rotate: 5deg;
	}

	75% {
		transform: translateX(-.05em) scale(1.05);
		--rotate: -5deg;
	}

	100% {
		transform: translateX(0em) scale(1);
		--rotate: 0deg;
	}
}

.row button.send-btn i {
	pointer-events: none;
	clip-path: circle(40%);
}

.row.active button {
	pointer-events: all;
	opacity: 1;
}

.pill {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	background-color: hsl(0, 0%, 80%);
	padding: .6em .8em;
	margin-right: 1em;
	border-radius: 1000em;
	box-shadow: inset 0 0 .4em hsla(0, 0%, 20%, .5);
}

.result {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .8em;
	gap: 1em;
	background-color: hsl(0, 0%, 80%);
	padding: .8em 1em;
	border-radius: 1em;
	box-shadow: inset 0 0 .4em hsla(0, 0%, 20%, .5);
}

.result .box {
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.result .box div {
	width: 2em;
	height: 2em;
	background-color: transparent;
	border-radius: .5em;
	box-shadow: 0 0 .8em hsla(0, 0%, 30%, .5);
	transition: all 0.4s;
	--border-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: var(--border-color);
	border-left-color: var(--border-color);
}

.result .box.check div {
	width: 1.8em;
	height: 1.2em;
	border-radius: .8em 5em .8em .5em;
	margin-bottom: 0.4em;
	transform: rotate(-50deg);
	box-shadow: unset;
	border-width: .23em;
	border-style: solid;
	--border-color: hsla(120, 100%, 38%, 1);
}

.result .box.check.close div {
	--border-color: hsla(30, 100%, 50%, 1);
}

@media (max-width: 850px) {
	.game-board {
		font-size: clamp(.8em, calc(2.4vw - .25em), 1.2em);
	}
}

@media (max-width: 640px) {
	.color-select {
		max-width: 10rem;
	}
}

/* 4 elementi */
@media (max-width: 640px) {
	.row:has(.pill > .circle:nth-child(4):last-child) .result {
		font-size: .5em;
		position: relative;
		width: 8.5em;
		height: 8.5em;
		border-radius: 50%;
	}

	.row:has(.pill > .circle:nth-child(4):last-child) .result .box {
		position: absolute;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}

	.row:has(.pill > .circle:nth-child(4):last-child) .result .box:not(.check) div {
		border-radius: 50%;
	}

	.row:has(.pill > .circle:nth-child(4):last-child) .result .box:nth-child(1) {
		top: 2em;
		left: 50%;
	}

	.row:has(.pill > .circle:nth-child(4):last-child) .result .box:nth-child(2) {
		top: 50%;
		left: 2em;
	}

	.row:has(.pill > .circle:nth-child(4):last-child) .result .box:nth-child(3) {
		top: calc(100% - 2em);
		left: 50%;
	}

	.row:has(.pill > .circle:nth-child(4):last-child) .result .box:nth-child(4) {
		top: 50%;
		left: calc(100% - 2em);
	}
}

/* 5 elementi */
@media (max-width: 640px) {
	.row:has(.pill > .circle:nth-child(5):last-child) .result {
		font-size: .5em;
		position: relative;
		width: 10em;
		height: 10em;
		border-radius: 50%;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box {
		position: absolute;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:not(.check) div {
		border-radius: 50%;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:nth-child(1) {
		top: 2.6em;
		left: 3.2em;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:nth-child(2) {
		top: calc(50% + .5em);
		left: 2.5em;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:nth-child(3) {
		bottom: .4em;
		left: 50%;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:nth-child(4) {
		top: calc(50% + .5em);
		right: 0.5em;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:nth-child(5) {
		top: 2.6em;
		right: 1.5em;
	}
}

/* 6 elementi */
@media (max-width: 640px) {
	.row:has(.pill > .circle:nth-child(6):last-child) .result {
		font-size: .5em;
		position: relative;
		width: 11.5em;
		height: 11.5em;
		border-radius: 50%;
	}

	.row:has(.pill > .circle:nth-child(6):last-child) .result .box {
		position: absolute;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}

	.row:has(.pill > .circle:nth-child(6):last-child) .result .box:not(.check) div {
		border-radius: 50%;
	}

	.row:has(.pill > .circle:nth-child(6):last-child) .result .box:nth-child(1) {
		top: 2em;
		left: 50%;
	}

	.row:has(.pill > .circle:nth-child(6):last-child) .result .box:nth-child(2) {
		top: 33%;
		left: 2.6em;
	}

	.row:has(.pill > .circle:nth-child(6):last-child) .result .box:nth-child(3) {
		top: 66%;
		left: 2.6em;
	}

	.row:has(.pill > .circle:nth-child(6):last-child) .result .box:nth-child(4) {
		top: calc(100% - 2em);
		left: 50%;
	}

	.row:has(.pill > .circle:nth-child(6):last-child) .result .box:nth-child(5) {
		top: 66%;
		left: calc(100% - 2.6em);
	}

	.row:has(.pill > .circle:nth-child(6):last-child) .result .box:nth-child(6) {
		top: 33%;
		left: calc(100% - 2.6em);
	}
}

/* 7 elementi */
@media (max-width: 640px) {
	.row:has(.pill > .circle:nth-child(7):last-child) .result {
		font-size: .5em;
		position: relative;
		width: 11.5em;
		height: 11.5em;
		border-radius: 50%;
	}

	.row:has(.pill > .circle:nth-child(7):last-child) .result .box {
		position: absolute;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}

	.row:has(.pill > .circle:nth-child(7):last-child) .result .box:not(.check) div {
		border-radius: 50%;
	}

	.row:has(.pill > .circle:nth-child(7):last-child) .result .box:nth-child(1) {
		top: 2em;
		left: 50%;
	}

	.row:has(.pill > .circle:nth-child(7):last-child) .result .box:nth-child(2) {
		top: 33%;
		left: 2.6em;
	}

	.row:has(.pill > .circle:nth-child(7):last-child) .result .box:nth-child(3) {
		top: 66%;
		left: 2.6em;
	}

	.row:has(.pill > .circle:nth-child(7):last-child) .result .box:nth-child(4) {
		top: calc(100% - 2em);
		left: 50%;
	}

	.row:has(.pill > .circle:nth-child(7):last-child) .result .box:nth-child(5) {
		top: 66%;
		left: calc(100% - 2.6em);
	}

	.row:has(.pill > .circle:nth-child(7):last-child) .result .box:nth-child(6) {
		top: 33%;
		left: calc(100% - 2.6em);
	}

	.row:has(.pill > .circle:nth-child(7):last-child) .result .box:nth-child(7) {
		top: 50%;
		left: 50%;
	}
}

.select-gamemode {
	padding-top: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.select-gamemode h3 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.select-gamemode ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	margin: 1em 0;
	max-width: 50%;
}

a.gamemode {
	display: block;
	font-size: 1.2em;
	padding: .6em 1em;
	border-radius: .5em;
	background-color: hsl(210, 90%, 70%);
	text-decoration: none;
}

footer {
	background-color: hsl(0, 0%, 20%);
	padding: 2em 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer * {
	color: hsl(0, 0%, 90%);
}
