* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: hsl(0, 0%, 90%);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {
	padding: 2em 1em;
	background-color: hsl(210, 90%, 40%);
}

nav .title {
	margin-left: 15%;
}

nav .title h2 {
	font-size: 1em;
	margin: 1em 0 0 3em;
}

.game {
	flex-grow: 1;
	background-color: hsl(0, 0%, 60%);
	padding: 4em 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-header {
	margin-bottom: 1.5em;
	text-align: center;
}

.game-board {
	margin: 2em 0;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5em;
	margin: .6em 0;
}

button.send-btn {
	font-size: 1.6em;
	padding: .1em .3em;
	border: none;
	background-color: transparent;
	color: hsl(210, 90%, 40%);
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	transition: all 0.4s;
}

button.send-btn i {
	pointer-events: none;
	clip-path: circle(40%);
}

.row.active button.send-btn {
	pointer-events: all;
	opacity: 1;
}

.pill {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	background-color: hsl(0, 0%, 80%);
	padding: .6em .8em;
	border-radius: 1000em;
	box-shadow: inset 0 0 .4em hsla(0, 0%, 20%, .5);
}

.pill .circle {
	width: 2em;
	aspect-ratio: 1 / 1;
	background-color: red;
	border-radius: 50%;
	box-shadow: 0 0 .8em hsla(0, 0%, 20%, .5);
}

.result {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .8em;
	gap: 1em;
	background-color: hsl(0, 0%, 80%);
	padding: .8em 1em;
	border-radius: 1em;
	box-shadow: inset 0 0 .4em hsla(0, 0%, 20%, .5);
}

.result .box {
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.result .box div {
	width: 2em;
	height: 2em;
	background-color: transparent;
	border-radius: .5em;
	box-shadow: 0 0 .8em hsla(0, 0%, 30%, .5);
	transition: all 0.4s;
	--border-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: var(--border-color);
	border-left-color: var(--border-color);
}

.result .box.check div {
	width: 1.8em;
	height: 1.2em;
	border-radius: .3em;
	margin-bottom: 0.4em;
	transform: rotate(-50deg);
	box-shadow: unset;
	border-width: .2em;
	border-style: solid;
	--border-color: hsla(120, 100%, 38%, 1);
}

.result .box.check.close div {
	--border-color: hsla(30, 100%, 50%, 1);
}

@media (max-width: 640px) {
	.row:has(.pill > .circle:nth-child(5):last-child) .result {
		font-size: .5em;
		position: relative;
		width: 10em;
		height: 10em;
		border-radius: 50%;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box {
		position: absolute;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:not(.check) div {
		border-radius: 50%;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:nth-child(1) {
		top: 2.6em;
		left: 3.2em;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:nth-child(2) {
		top: 2.6em;
		right: 1.5em;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:nth-child(3) {
		top: calc(50% + .5em);
		left: 2.5em;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:nth-child(4) {
		top: calc(50% + .5em);
		right: 0.5em;
	}

	.row:has(.pill > .circle:nth-child(5):last-child) .result .box:nth-child(5) {
		bottom: .4em;
		left: 50%;
	}
}

footer {
	background-color: hsl(0, 0%, 20%);
	padding: 2em 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer * {
	color: hsl(0, 0%, 90%);
}
